html {
  height:100%;
  overflow-y:hidden;
}

body {
  background: #002B36;
  padding: 0px;
  margin: 0px;
  color:#9d9d9d;
  font-family: Helvetica, sans-serif;
  height:100%;
  overflow-y:auto;
}

a, a:visited {
  color: #8d8dbd;
  text-decoration: none;
}

a:hover {
  color: #8d8dbd;
  text-decoration: underline;
}

/* textarea */

textarea {
  background: transparent;
  border: none;
  color: #fff;
  margin:0;
  width: 98%;
  height: 98%;
  font-family: monospace;
  outline: none;
  resize: none;
  font-size: .75em;
}

#sidebar {
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  width: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 .5em;
  border-right: 1px solid #9d9d9d;
}

#textcontent {
  margin: 1em 0 0 17em;
  height: 98%;
}

/* the line numbers */

#linenos {
  float:left;
  color: #7d7d7d;
  width: 3em;
  text-align: right;
  margin: 1em 1em 0 15em;
}
#linenos div {
  font-size: .75em;
  font-family: monospace;
}

#pastebin, #preview {
  margin:0;
  width:100%;
  height:98%;
}

#preview {
  margin:0 auto;
}

/* code box when locked */

#box {
  padding:0;
  margin:0;
  border:0;
  outline: none;
  font-size: .75em;
  width:100%;
  height:95%;
}

#boxcode {
  padding:0 0 2em 0;
  background: transparent !important; /* don't hide hastebox */
}

#recent-pastes-title, #sidebar .subtitle {
  text-align:center;
  margin:10px;
}

#recent-pastes {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens:auto;
}

#recent-pastes ul {
  list-style-type: none;
  margin:0 0 0 -10px;
}

#recent-pastes ul li {
  margin:0 0 5px 0;
  font-family:monospace;
  font-size:10pt;
}

/* key (the logo + menu) */

#box1 {
  padding: 5px;
  text-align: center;
  background: #00222b;
}

#box1 a.logo, #box1 a.logo:visited {
  display: inline-block;
	background: url(logo.png);
  width: 126px;
  height: 42px;
  border:none;
}

#box1 a.logo:hover {
  background-position: 0 bottom;
}

#box2 .function {
  padding: 10px;
  display: inline-block;
  position: relative;
}

#box2 .function.enabled {
  color: #2aa198;
}

#box2 .link embed {
  vertical-align: bottom; /* fix for zeroClipboard style */
}

#box2 .function.enabled:hover {
  cursor: hand;
  cursor: pointer;
}

#box3, #messages li {
  background: #173e48;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 15px;
}

#box3 .label, #messages li {
  color: #fff;
  font-weight: bold;
}

#box3 .shortcut {
  color: #c4dce3;
  font-weight: normal;
}

#messages {
  position:fixed;
  top:0px;
  right:138px;
  margin:0;
  padding:0;
  width:400px;
}

#messages li {
  background:rgba(23,62,72,0.8);
  margin:0 auto;
  list-style:none;
}

#messages li.error {
  background:rgba(102,8,0,0.8);
}

#sidebar input[type=text], #sidebar select {
  background: #002b36 none repeat scroll 0 0;
  border: 1px solid #9d9d9d;
  border-radius: 0.25em;
  color: #9d9d9d;
  margin: 0.5em;
  padding: 0.25em;
}
#sidebar input[type=file] {
  margin: 0.5em;
  color: transparent;
}
